{% extends 'base.html'%}

{% block title %}Forgot Passowrd{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>Password Reset Link is Sent to your Email Address. Check your email immediately</h3>


            {% else %}
                <h3>Enter your Email for Password reset Link</h3>
                <br><br> <br><br>
                {% if request.GET.m == "e" %}
                <h4 class="text-danger">Something went wrong,please enter your email again</h4>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br><br>
                    <button class="btn btn-primary">Get Reset Link</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
